
.main{
    width: 85vw;
    height: 100%;
    /* background-color: #f03; */
    padding: 2rem;
   

}
.container {
    width: 400px;
    height: 350px;
    /* color: #000; */
    /* background-color: azure; */

    /* position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%); */
    /* margin:2rem; */
    background-color: aquamarine;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    --border-size: 2px;
    --border-angle: 0turn;
    width: 60vmin;
    height: 50vmin;

    font-family: 'Dancing Script', cursive;
    background-image: conic-gradient(from var(--border-angle),
            #213,
            #112 50%,
            #213),
        conic-gradient(from var(--border-angle), 
        transparent 10%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
        cover;

    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 5s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}


@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
.box_container{
    width: 100%;
    height: 98%;
    margin: .1rem 0;
        background-color: black;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        
    }
.input_Container {
    /* background-color: blueviolet; */
    width: 100%;
    height: 55%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;




    
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
.input {
    font-size: 15px;
    padding: .8rem;
    margin: .2rem 0;
    background-color: transparent;
    /* border: none; */

    
    border: 1px solid transparent;
    background-image: linear-gradient(#000, #000),
      linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: .2em;
    background-size: 200% 100%;

   

    
}



.btn {
    padding: 1rem;
    font-size: 20px;
    background-color: transparent;
    /* color: #000; */


    border: 1px solid transparent;
    background-image: linear-gradient(#000, #000),
      linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: .2em;
    background-size: 200% 100%;


    font-family: 'Dancing Script', cursive;
}