.dashboard {
    width: 100vw;
    /* height: 92vh; */
    display: flex;
    /* background-color: brown; */
    /* color: #000; */
}

.dashNavBar {
    width: 15vw;
    height: 92vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
    /* background-color: #D9D9D9; */
}

.dashBar {
    width: 100%;
    height: 70%;
    /* border: 2px solid white; */
    /* position: relative;
    top: 3%;
    left: 0; */
}

.userImage {
    border-radius: 50%;
    border-bottom: 2px solid white;
    /* position: absolute; */
}


.span {
    width: 100%;
    padding: 0 10px;
    display: flex;
    margin: 5px 0;
    /* border: 1px solid red; */
    /* background-color: blue; */
}

.navMenu {
    width: 100%;
    padding: 15px 10px;
    /* background-color: blue; */
    /* margin-bottom: 10px; */
    z-index: 1;
    border-radius: 5px;
}

.active {
    background-color: rgb(124, 124, 124);
    color: #fff;
}

.navMenu:hover {
    background-color: rgb(85, 85, 85);
    transition-duration: .5s;
    color: #fff;
}

/* Analysis page or component */
.analysisComponent {
    width: calc(100vw - 15vw);
    height: calc(100vh - 8vh);
    padding: 0 10px;
    /* color: #000; */
    /* background-color: blueviolet; */
}

.ml_10 {
    margin-left: 10px;
}

.subBtn {
    padding: 2px 5px;
}

.header {
    /* width: 20%; */
    width: fit-content;
    /* height: 80px; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 5px 0;
    /* background-color: blueviolet; */
}

.header input {
    background-color: transparent;
    /* color: #fff; */
    padding: .5rem;
    /* margin-left: 5px; */
    /* border: 1px solid #fff; */
}
.header input:nth-child(2){
    margin-left: 5px;
}
.details {
    width: 100%;
    height: fit-content;
    /* padding: 5px; */
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 350px;
    height: 150px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartComponent {
    /* height: 505px; */
    height: fit-content;
    /* height: 350px; */
    /* border: 1px solid #000; */
}

.graphCom {
    width: 100%;
    /* height: 100%; */
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #000; */
    margin: 5px 0 0 0;
    /* background-color: bisque; */
}

.tableComp {
    width: 39%;
    height: 100%;
    /* background-color: bisque; */
    /* border: 1px solid #000; */
    overflow-y: auto;
}

.tableComp::-webkit-scrollbar {
    width: 10px;
}

.tableComp::-webkit-scrollbar-track {
    background-color: #00000010;
}

.tableComp::-webkit-scrollbar-thumb {
    background-color: #383636d7;
    border-radius: 50px;
}

.tableHeading {
    /* background-color: brown; */
    padding: .5rem .5rem;
    /* position: fixed; */

}

.tableData {
    font-size: 15px;
    /* background-color: blueviolet; */
    padding: 0 .5rem;
}

.tableRow {
    /* background-color: blanchedalmond; */
    border-bottom: 1px solid #000;
}

.categoryComp {
    width: 60%;
    height: 100%;
    /* background-color: bisque; */
    /* border: 1px solid #000; */
}

.selectionOption {
    display: flex;
    margin: 10px 5px;
}

.optionTag {
    margin-left: 15px;
    color: #000;
    background-color: transparent;
}

/* Analysis page or component end */



/* Add product page */

.addProductComponent {
    width: calc(100vw - 15vw);
    height: calc(100vh - 8vh);
    /* background-color: bisque ; */
}

.form {
    width: 25%;
    height: 35vh;
    margin: 6px 10px;
    display: flex;
    flex-direction: column;
}

.addSubBtn {
    margin: auto;
    width: 20%;
    padding: 6px 5px;
    border-radius: 10px;
    background-color: transparent;
    color: blueviolet;
}

/* .inputField::placeholder {

    color: #000;
}

.inputField::-ms-input-placeholder {
    color: #000;
} */

.inputField::-webkit-inner-spin-button,
.inputField::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Disable input type number increment and decrement icon */
}

/* Reset the background color for autofill */
.input_container .inputField:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    background-color: transparent !important; /* Set transparent background */
    color: black !important; /* Set black text color */
}

.input_container {
    position: relative;
    /* margin: 20px 0; */
    margin: 5px 0;
}
.input_container:nth-child(1) {
    position: relative;
    /* margin: 20px 0; */
    margin-top: 10px;
}

.input_container .label {
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translateY(-40%);
    font-size: 16px;
    color: blueviolet;
    /* color: #fff; */
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input_container .inputField {
    width: 100%;
    padding: 8px 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #000;
    background: transparent;
    border: 1.2px solid #000;
    outline: none;
    border-radius: 5px;
}

.input_container .inputField:focus~.label,
.input_container .inputField:valid~.label{
    top: 0;
    font-size: 12px;
    /* background-color: #fff; */
}
