/* :root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
} */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.main {
    /* width: 85vw; */
    /* min-height: 100vh; */
    /* background-color: blueviolet; */
    background-color: rgb(65, 63, 63);
    display: flex;
    
    

}

.dash_navbar {
    /* width: 100vw;
    height: 5vh; */
    width: 15vw;
    height: 90vh;
    /* background-color: rgb(209, 135, 44); */
    background-color:rgb(51, 51, 50) ;
    /* position: absolute; */

    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    /* border-right: 1px solid red; */
  position: relative;
    
}
.dash_navbar::after{
    content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px; /* Adjust the width as per your preference */
  background: linear-gradient(to bottom, #ff0000 0%, #00ff00 50%, #0000ff 100%);
  /* Replace the color codes and percentages with your desired values */

}

.li {
    padding: 0 .5rem;
    cursor: pointer;
}

.none{
    display: none;
}
.block{
    display: block;
}

.active{
    font-weight: bold;
}