/* .main {
    width: 100vw;
    height: max-content;

} */

.container {
    width: 85vw;
    height: max-content;
    /* display: flex; */
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* background-color: #727272; */
    padding: 10px;
}

.card {
    width: 200px;
    height: 250px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(255, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 20px;
    /* text-align: center; */
}
.title{
    font-size: 22px;
    text-align: center;
    padding: .5rem 0;
}

.table{
    width: 60vw;
    text-align: left;
    
}
.tableTitle{
    font-size: 25px;
    /* background-color: blueviolet; */
    /* padding: .5rem; */
}
.tableRow{
    /* background-color: brown; */
    padding: 1rem .5rem;
    
}
.tableData{
    font-size: 20px;
    /* background-color: blueviolet; */
    padding: 0 .5rem;
    border-bottom: 1px solid #fff;
}